*.data
*.tt3
.DS_store
*.o
*.mod
*.pyc
fort*
*png
*html
*.log
timing.txt
timing.csv
xdclaw
.plots
.output
*.tex
*.kml
*.q*
*.t*
fgout*.*
public
docs/src/autodoc2
*.mp4
*.csv
examples/idealized_slides/results